<!-- Main navbar -->
<nav class="navbar navbar-dark default-color navbar-fixed-top header-highlight">
    <div class="">
        <a class="navbar-brand" href="index.html"><img class="" src="assets/images/logo-inei.png" alt=""></a>

        <div class="pull-left visible-xs-block">
            <a class="navbar-toggler sidebar-mobile-main-toggle"><i class="fa fa-bars"></i></a>
        </div>
        <div class="pull-left nav navbar-nav">
            <li><a class="navbar-toggler sidebar-control sidebar-main-toggle hidden-xs"><i class="fa fa-bars"></i></a>
            </li>
        </div>

    </div>

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx22"><i
                class="fa fa-bars"></i></button>

    <div class="container">

        <!--Collapse content-->

        <div class="collapse navbar-toggleable-xs" id="collapseEx22">
            <!--Navbar Brand-->
            <!--Links-->
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-envelope"></i>Manual de Usuario</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>Perfil</a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <a class="dropdown-item" href="#">Editar Perfil</a>
                        <a class="dropdown-item" href="#">Cambiar contraseña</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-gear"></i>Configuración</a>
                </li>
            </ul>
            <!--Links-->
        </div>
        <!--/.Collapse content-->

    </div>
</nav>