<header></header>
<!-- /main navbar -->


<!-- Page container -->
<main>
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->

            <sidebar class="sidebar bg-primary-400 sidebar-main"></sidebar>
            <!-- /main sidebar -->
            <router-outlet></router-outlet>

            <!-- Main content -->
            
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
</main>